@using MovieTicketReservation.Models
@model List<News>
@foreach (var item in Model) {
    <div class="recent-post-item col-sm-12">
        <img class="img img-responsive" src="@item.ThumbnailURL" alt="" />
        @Html.ActionLink(item.Title, "Detail", "News", routeValues: new { item.NewsID }, htmlAttributes: null)
    </div>
}

