@using MovieTicketReservation.Models
@model List<Tag>

@foreach (var item in Model) {
    <a href="/News/GetNewsByTagID?tagId=@item.TagID" class="tag" data-tag="@item.TagID">
        <i class="badge">@item.Name</i>
    </a>
}
