@using MovieTicketReservation.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<News>

<link href="~/Content/news.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div id="newContainer">
                @{ Html.RenderPartial("_NewsTemplate", Model); }
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-panel">
                <h3 class="separator">
                    Tags
                </h3>
                <div class="tags">
                    @{ Html.RenderPartial("_TagsTemplate", (List<Tag>)ViewBag.Tags); }
                </div>

                <h3 class="separator">
                    Bài viết gần đây
                </h3>
                <div class="recent-post">
                    @{ Html.RenderPartial("_RecentPostTemplate", (List<News>)ViewBag.RecentPost); }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".tag").click(function (event) {
        event.preventDefault();
        var id = $(this).attr("data-tag");
        $.post("/News/GetNewsByTagID", { tagId: parseInt(id) }, function (data) {
            $("#newContainer").empty();
            $("#newContainer").html(data);
        });
    });
</script>