<div class="col-sm-12">
    <h2 class="separator">Tất cả chương trình khuyến mãi</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="5%">ID</th>
                    <th width="40%">Tên chương trình</th>
                    <th width="10%">Giảm</th>
                    <th width="15%">Cố định ngày</th>
                    <th>Bắt đầu</th>
                    <th>Thời hạn</th>
                </tr>
            </thead>
            <tbody id="result">
                <!-- Row template  -->
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pager">
            <li class="previous"><a href="#" class="btnNav" data-type="0"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li class="next"><a href="#" class="btnNav" data-type="1">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    <input type="hidden" value="0" id="headIndex" />
</div>

<script>
    $.post("/Admin/AjaxGetPromotions", { headIndex: 0, type: -1 }, function (response) {
        $("#result").empty();
        updateTable(response.Data);
        $("#headIndex").val = response.HeadIndex
    });

    $(document).on("click", ".btnNav", function (event) {
        event.preventDefault();
        var headIndex = $("#headIndex").val();
        var type = $(this).attr("data-type");
        if (parseInt(type) == 0 && parseInt(headIndex) == 0) return false;

        $.post("/Admin/AjaxGetPromotions", { headIndex: parseInt(headIndex), type: parseInt(type) }, function (response) {
            if (response.Data.length != 0) {
                $("#result").empty();
                updateTable(response.Data);
                $("#headIndex").val(response.HeadIndex);
            }
        });
    });

    $(document).on("click", ".btnDeletePromotion", function (event) {
        event.preventDefault();
        if (!confirm("Bạn thật sự muốn xoá khuyến mãi này?")) { return false; }
        var id = $(this).attr("data-id");
        $.post("/Admin/AjaxDeletePromotion", { promotionId: id }, function (data) {
            if (data.Success == true) {
                alert("Đã xoá khuyến mãi!");
                $.post("/Admin/AjaxGetPromotions", { headIndex: parseInt(headIndex), type: -1 }, function (response) {
                    updateTable(response.Data);
                    $("#headIndex").val(response.HeadIndex);
                });
            } else {
                alert("Có lỗi xảy ra, không thể xoá khuyến mãi này, hãy chắc rằng không có suất chiếu nào đang sử dụng khuyến mãi này.");
            }
        });
    });

    function updateTable(data) {
        $("#result").empty();
        $.each(data, function (index, value) {
            var htmlString =
                "<tr>" +
                    "<td>" + value.PromotionID + "</td>" +
                    "<td>" + value.Title + "</td>" +
                    "<td>" + value.PriceOff + " %</td>" +
                    "<td>" + value.FixedDay + "</td>" +
                    "<td>" + value.BeginDay + "</td>" +
                    "<td>" + value.Duration + "</td>" +
                    "<td><a href='#' class='btnDeletePromotion btn btn-danger' data-id='" + value.PromotionID + "'>Xoá</a></td>";
            "</tr>";
            $("#result").append(htmlString);
        });
    }
</script>