<div class="col-sm-12">
    <h2 class="separator">Thêm suất chiếu</h2>
    <div class="form-group">
        <label>Chọn film</label>
        <select class="form-control" id="selMovie"></select>
    </div>
    <div class="form-group">
        <label>Chọn phòng</label>
        <select class="form-control" id="selRoom"></select>
    </div>
    <div class="form-group">
        <label>Chọn ngày</label>
        <select class="form-control" id="selDate"></select>
    </div>
    <div class="form-group">
        <label>Chọn thời gian</label>
        <select class="form-control" id="selShowtime"></select>
    </div>
    <span>
        <button id="btnFilter" class="btn btn-success">Thêm</button>
        <button id="btnCancel" class="btn btn-danger">Huỷ</button>
    </span>
</div>

<script>
    $.get("/Admin/GetShowingMovies", function (data) {
        $("#selMovie").empty();
        $.each(data, function (index, value) {
            var htmlString = "<option value='" + value.MovieID + "'>" + value.Title + "</option>";
            $("#selMovie").append(htmlString);
        });
    });

    $("#selMovie").change(function () {
        var movieId = $(this).val();
        $.get("/Admin/GetDatesByMovieID", { movieId: movieId }, function (data) {
            var htmlString = "<option>" + value.Date + "</option>";
            $("#selMovie").append(htmlString);
        });
    });

    $("#selDate").change(function () {
        var movieId = $(this).val();
        $.get("/Admin/GetDatesByMovieID", { movieId: movieId }, function (data) {

        });
    });

    $("#btnCancel").click(function () {
        $.get("/Admin/GetPage", { page: 'manageschedule_all' }, function (htmlResponse) {
            $("#main_content").html(htmlResponse);
        });
    });
</script>
