<script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
<link href="~/Content/fileupload.min.css" rel="stylesheet" />
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>

<div class="col-sm-8 col-sm-push-2">
    <h2 class="separator">Thêm tin tức</h2>
    <div class="form-group">
        <label>Tên bài viết</label>
        <input type="text" class="form-control" placeholder="Nhập tên bài viết" aria-describedby="basic-addon1">
    </div><br />
    <div class="form-group">
        <label>Mô tả </label>
        <input type="text" class="form-control" placeholder="Nhập giá mô tả ngắn" aria-describedby="basic-addon1">
    </div><br />
    <div class="form-group">
        <div class="btn btn-primary btn-file">
            <i class="glyphicon glyphicon-folder-open"></i>
            &nbsp;Chọn hình ảnh …<input id="btnUploadImage" type="file" class="">
        </div>
    </div>
    <div>
        <textarea name="content" style="width:100%"></textarea>
    </div>
    <br />
    <div class="form-group">
        <button id="btnFilter" style="float: right" class="btn btn-success">Thêm</button>
        <button id="btnCancel" style="float: right; margin-right: 50px;" class="btn btn-danger">Huỷ</button>
    </div>
</div>
