<div class="col-sm-12">
    <h2 class="separator">Tất cả tin tức</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="5%">ID</th>
                    <th width="55%">Tựa đề</th>
                    <th width="20%">Ảnh cover</th>
                    <th width="15%">Ngày đăng</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody id="result">
                <!-- Row template  -->
            </tbody>
        </table>
    </div>
    <nav class="col-sm-4 col-sm-offset-4">
        <ul class="pager">
            <li class="previous"><a href="#" class="btnNav" data-type="0"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li class="next"><a href="#" class="btnNav" data-type="1">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    <input type="hidden" value="0" id="headIndex" />
</div>

<script>
    $.post("/Admin/AjaxGetNews", { headIndex: 0, type: -1 }, function (response) {
        if (response.Data.length != 0) {
            $("#result").empty();
            updateTable(response.Data);
            $("#headIndex").val(response.HeadIndex);
        }
    })

    $(document).on("click", ".btnNav", function (event) {
        event.preventDefault();

        var headIndex = $("#headIndex").val();
        var type = $(this).attr("data-type");
        if (type == 0 && headIndex == 0) return false;

        $.post("/Admin/AjaxGetNews", { headIndex: parseInt(headIndex), type: parseInt(type) }, function (response) {
            if (response != null) {
                $("#result").empty();
                updateTable(response.Data);
                $("#headIndex").val(response.HeadIndex);
            }
        });
    });

    $(document).on("click", ".btnDeleteNews", function (event) {
        event.preventDefault();
        if (!confirm("Bạn thật sự muốn xoá tin này?")) { return false; }
        var id = $(this).attr("data-id");
        $.post("/Admin/AjaxDeleteNews", { NewsId: id }, function (data) {
            if (data.Success == true) {
                alert("Đã xoá tin!");
                $.post("/Admin/AjaxGetNews", { headIndex: parseInt(headIndex), type: parseInt(type) }, function (data) {
                    updateTable(data.Data);
                    $("#headIndex").val(data.HeadIndex);
                });
            } else {
                alert(data.ErrorMessage);
            }
        });
    });

    function updateTable(data) {
        if (data == null) return false;
        $("#result").empty();
        $.each(data, function (index, value) {
            var htmlString =
                "<tr>" +
                    "<td>" + value.NewsID + "</td>" +
                    "<td>" + value.NewsTitle + "</td>" +
                    "<td>" + value.ThumbnailURL + " %</td>" +
                    "<td>" + value.CreatedDate + "</td>" +
                    "<td><a href='#' class='btnDeleteNews' data-id='" + value.NewsID + "'>Xoá</a></td>";
            "</tr>";
            $("#result").append(htmlString);
        });
    }
</script>
