@using MovieTicketReservation.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<Member>

<h2>Tất cả thành viên</h2>
<hr />

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Mã thành viên</th>
                <th>Email</th>
                <th>CMND</th>
                <th>Số điện thoại</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="result">
            <!-- Row template  -->
        </tbody>
    </table>
</div>
<nav>
    <ul class="pager">
        <li class="previous"><a href="#" id="btnOlder"><span aria-hidden="true">&larr;</span> Older</a></li>
        <li class="next"><a href="#" id="btnNewer">Newer <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>

<script>
    $("#btnOlder").click(function (event) {
        event.preventDefault();

        $.post("/Admin/AjaxGetMember", {}, function (data) {

        });
    });
</script>