@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/about.css" rel="stylesheet" />
<div class="container">
    <div class="row">
       <div class="col-sm-4">
           <img class="img-responsive" src="/Content/Images/cinema_neon.jpg" />  
       </div>
       <div class="col-sm-8">
                   <h2 class="abouttitle">
                       Công ty Cinema 4U
                   </h2><br />
                   <p class="aboutcontent">
                       Công ty Cinema 4U là công ty phim được khách hàng ưu chuộn và bình chọn là công ty phim được yêu thích vào các năm vừa qua. Cinema 4U được thành lập vào ngày 05/08/2010
                       và để đạt thành tựu như ngày nay công ty đã trãi qua rất nhiều thăng trầm, và hiện nay công ty đang từng bước nâng cấp hệ thống các rạp chiếu nhằm phục vũ tốt nhất cho
                       nhu cầu giải trí của khách hàng ngày càng nâng cao.
                   </p>
       </div>
    </div>
    <div class="break-line"></div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="/Content/Images/Rap2.jpg" />
                    <h3 class="aboutcinema">Cinema 4U Nguyễn Trãi</h3>
                    <span>
                        <strong>Địa chỉ</strong>: 230 Nguyễn Trãi, Quận 1, Tp.HCM.<br/>
                        <strong>Điện thoại</strong>: (08) 3920 6688
                    </span>  
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="/Content/Images/Rap3.jpg" />
                    <h3 class="aboutcinema">Cinema 4U Nguyễn Du</h3>
                    <span>
                        <strong>Địa chỉ</strong>: 116 Nguyễn Du, Quận 1, Tp.HCM<br />
                        <strong>Điện thoại</strong>: (08) 3823 5235
                    </span>  
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="/Content/Images/Rap5.jpg" />
                    <h3 class="aboutcinema">Cinema 4U Tân Bình</h3>
                    <span>
                        <strong>Địa chỉ</strong>: 246 Nguyễn Hồng Đào, Q.TB, Tp.HCM<br />
                        <strong>Điện thoại</strong>: (08) 3849 4567.
                    </span>  
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="/Content/Images/Rap6.jpg" />
                    <h3 class="aboutcinema">Cinema 4U Kinh D.Vương</h3>
                    <span>
                        <strong>Địa chỉ</strong>: 718bis Kinh Dương Vương, Q6, Tp.HCM.<br />
                        <strong>Điện thoại</strong>: (08) 3817 2398.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="/Content/Images/Rap7.jpg" />
                    <h3 class="aboutcinema">Cinema 4U Quang Trung</h3>
                    <span>
                        <strong>Địa chỉ</strong>: 304A,Quang Trung,G ò Vấp, Tp.HCM<br />
                        <strong>Điện thoại</strong>: (08) 3823 5235
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="/Content/Images/Rap8.jpg" />
                    <h3 class="aboutcinema">Cinema 4U Công Nghiệp</h3>
                    <span>
                        <strong>Địa chỉ</strong>: 12B Nguyễn Văn Bảo, Gò Vấp, Tp.HCM<br />
                        <strong>Điện thoại</strong>: (08) 3849 4567.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


