@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<script src='https://www.google.com/recaptcha/api.js'></script>
<fieldset>
    <legend>Contact</legend>
    <label for="name">Name</label>
    <input id="txtName" type="text" />
    <label for="phone">Name</label>
    <input id="txtPhone" type="tel" />

    <div class="g-recaptcha" data-sitekey="6LeUcwUTAAAAABu3e3z1QvgyIYjrAB4sdomf4FpK"></div>

    <input id="btnSubmit" type="submit" value="Submit" />
</fieldset>
<div id="result">

</div>
<script>
    $("#btnSubmit").click(function () {
        $.post("/Home/Contact",
            {
                name: $("#txtName").val(),
                phone: $("#txtPhone").val(),
                response : $(".gr-captcha-response").text()
            },
            function (data) {
                $("#result").html(data);
            }
        )
    });
</script>

    

