.page-body {
    padding-top: 25px;
    padding-bottom: 25px;
}

.aboutcontent p {
    color: #000000;
}

.break-line {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 3px;
    background: url("/Content/Images/r2.png") repeat-x scroll 0% 0% transparent;
    width: 100%;
}

.panel-body h3, .panel-body span{
    color: #000000 !important;
}
.aboutcinema{
    padding-bottom:5px;
    border-bottom:2px solid #ff6a00;
}
