.page-body {
    padding-top: 25px;
    padding-bottom: 25px;
}

.aboutcontent p {
    color: #000000;
}

.break-line {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 3px;
    background: url("/Content/Images/r2.png") repeat-x scroll 0% 0% transparent;
    width: 100%;
}

.aboutcontent {
    color: #000000 !important;
}
