.page-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.seats {
    padding-top: 20px;
    padding-bottom: 20px;
}

.seat {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    overflow: hidden;
}

    .seat text {
        margin: 0 auto;
        padding: 0;
        color: black;
        font-size: 12px;
        font-family: 'Courier New';
    }

    .seat img {
        margin: 0 auto
    }

 .selected {
     color: white !important;
 }

 .taken {
     color: white !important;
 }

.screen {
    overflow: hidden
}

.options {
    padding-top: 10px;
    text-align: center;
    overflow: hidden
}