.page-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.seats {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.seat {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center
}

    .seat text {
        margin: 0 auto;
        padding: 0;
        color: black;
        font-size: 12px;
        font-family: 'Courier New';
    }

 .selected {
     color: white !important;
 }

 .taken {
     color: white !important;
 }

.screen {
    overflow: hidden
}

.options {
    text-align: center;
}

.item {
    overflow: hidden;
    padding-top: 15px;
    border-bottom: 1px dashed black;
}

.item:last-of-type {
    border-bottom: none !important
}

.detail-header {
    font-weight: 600;
}