@{
    ViewBag.Title = "Đăng kí thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-8 col-sm-push-2 col-panel">
                <h1>&nbsp;</h1>
                <h2 class="separator">Đăng ký thành công</h2>
                <h4>Bạn đã đăng kí thành công và trở thành thành viên của trang web chúng tôi.</h4>
                <a class="col-sm-6" href="/User/">Nhấn vào đây để chỉnh sửa profile</a>
                <a class="col-sm-6" href="/Home/">Nhấn vào đây để về trang chủ</a>
                <h1>&nbsp;</h1>
            </div>
        </div>
    </div>
</div>

