@{
    ViewBag.Title = "RegisterSucceeded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="col-panel">
                <h1></h1>
                <h3 class="separator">Thông báo</h3>
                <p>Bạn đã đăng kí thành công và trở thành thành viên của trang web chúng tôi.</p>
                <a class="col-sm-6" href="/User/">Nhấn vào đây để sửa profile</a>
                <a class="col-sm-6" href="/Home/">Nhấn vào đây để về trang chủ</a>
                <h1></h1>
            </div>
        </div>
    </div>
</div>

