@using MovieTicketReservation.Models
@model List<Cinema>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/cinema.css" rel="stylesheet" />
<div class="main-content">
    <div class="container">
        <div class="row">
            <!-- BEGIN TEMPLATE -->
            <div class="col-sm-3">
                <h2 class="cinema-title">Galaxy Kinh Dương Vương</h2>
                <div class="cinema-desc">
                    <div>718bis Kinh Dương Vương, Q6, TpHCM.</div>
                    <div>Tel: (08) 3817 2398</div>
                </div>
                <ul class="cinema-items">
                    @foreach (var item in Model) {
                        <li><a class="ajaxLink item" data-id="@item.CinemaID">@item.Name</a></li>
                    }
                </ul>
            </div>
            <div class="col-sm-9">
                <img src="/Content/Images/Rap1.jpg" style="width: 750px; height: 315px;">
            </div>
            <div class="break-line"></div>
            <!-- END TEMPLATE -->
        </div>
        <div class="row">
           <div class="col-sm-3">
               <h2 class="cinema-title">2D/DIGITAL</h2>
               <ul class="cinema-items">
                   <li><a class="item" value="">2D/DIGITAL</a></li>
                   <li><a class="item" value="">3D</a></li>
               </ul>
           </div>
            <div class="col-sm-9">
                <img src="/Content/Images/2D_KDV.jpg" style="width: 750px; height: 315px;">
            </div>
       </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".carousel-inner").empty();
        $(".cinema-info").empty();
        $.post("/Cinemas/GetCinemaDetails", { cinemaId: 'CINE1' }, function (data) {
            updateImages(data.Images);
            updateInfo(data);
        }, 'json');
    });

    $("#ajaxLink").click(function () {
        var cinemaId = $(this).attr("data-id");
    });

    function updateImages(data) {
        $(".carousel-inner").empty();
        $.each(data, function (index, value) {
            if (index == 0) {
                var imageHtml = "<div class='item active'><img src='" + value + "' alt='' class=''></div>";
            } else {
                var imageHtml = "<div class='item'><img src='" + value + "' alt='' class=''></div>";
            }
            $(".carousel-inner").append(imageHtml)
        });
    }

    function updateInfo(data) {
        $(".cinema-info").empty();
        $(".cinema-info").append('<p class="list-group-item-text">Addr: ' + data.CinemaAddress + '<br>Tel: ' + data.CinemaPhone + '</p>');
    }

    function loadCinemaInfo(cinemaId, source) {
        var target = $('.list-group-item');
        target.removeClass('active');
        $(source).addClass('active');

        $.post("/Cinemas/GetCinemaDetails", { cinemaId: cinemaId }, function (data) {
            updateInfo(data);
            updateImages(data.Images);
        }, 'json');
    }

</script>

