@using MovieTicketReservation.Models
@model List<Cinema>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/cinema.css" rel="stylesheet" />
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="cinema-title">CINE4U</h2>
                <h2 class="cinema-title cinema-name" style="margin-top: 0"></h2>
                <div class="cinema-info"></div>
                <ul class="cinema-items">
                    @foreach (var item in Model) {
                        <li><a class="ajaxLink list-item" data-id="@item.CinemaID">CINE4U @item.Name</a></li>
                    }
                </ul>
            </div>
            <div class="col-sm-8">
                <div id="cinemaCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators"></ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner col-panel no-background" role="listbox">

                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#cinemaCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#cinemaCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".carousel-inner").empty();
        $(".cinema-info").empty();
        $.post("/Cinemas/AjaxGetCinemaDetails", { cinemaId: 'CINE1' }, function (data) {
            updateImages(data.Images);
            updateInfo(data);
        });
    });

    $(".ajaxLink").click(function () {
        var cinemaId = $(this).attr("data-id");
        loadCinemaInfo(cinemaId, $(this));
    });

    function updateImages(data) {
        $(".carousel-inner").empty();
        $(".carousel-indicators").empty();

        $.each(data, function (index, value) {
            if (index == 0) {
                var imageHtml = "<div class='item active'><img src='" + value + "' alt='' class=''></div>";
            } else {
                var imageHtml = "<div class='item'><img src='" + value + "' alt='' class=''></div>";
            }
            $(".carousel-inner").append(imageHtml);
            if (index == 0) {
                $("ol.carousel-indicators").append("<li data-target='#cinemaCarousel' data-slide-to='" + index + "' class='active'></li>");
            } else {
                $("ol.carousel-indicators").append("<li data-target='#cinemaCarousel' data-slide-to='" + index + "'></li>");
            }
        });
    }

    function updateInfo(data) {
        $(".cinema-name").text(data.CinemaName);
        $(".cinema-info").empty();
        $(".cinema-info").append('<p>Addr: ' + data.CinemaAddress + '<br>Tel: ' + data.CinemaPhone + '</p>');
    }

    function loadCinemaInfo(cinemaId, source) {
        var target = $('.list-group-item');
        target.removeClass('active');
        $(source).addClass('active');

        $.post("/Cinemas/AjaxGetCinemaDetails", { cinemaId: cinemaId }, function (data) {
            updateInfo(data);
            updateImages(data.Images);
        }, 'json');
    }

</script>
