
@{
    ViewBag.Title = "Cancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-xs-12">
            <h2>Huỷ vé</h2>

        </div>
    </div>
</div>