
@{
    ViewBag.Title = "Xác nhận";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-panel">
                <h1>&nbsp;</h1>
                <h2>Đặt vé thành công</h2>
                <hr />
                <h4 class="col-sm-12" style="text-align: center">Bạn đã đặt vé thành công!</h4>
                <h5 class="col-sm-6" style="text-align: center"><a href="/Ticket/">Nhấn vào đây để xem các vé đã đặt</a></h5>
                <h5 class="col-sm-6" style="text-align: center"><a href="/Movies/">Nhấn vào đây để trở về trang film</a></h5>
                <h1>&nbsp;</h1>
            </div>
        </div>
    </div>
</div>



