@using MovieTicketReservation.Models
@model List<Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/scheduler.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default col-panel box">
                <div class="panel-heading box-title">
                    Chọn phim
                </div>
                <div class="panel-body box-content">
                    @foreach (var item in Model) {
                        <div class="item">@item.Title</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default col-panel box">
                <div class="panel-heading box-title">
                    Chọn rạp
                </div>
                <div class="panel-body box-content">
                    <div class="item">CINE4U Nguyễn Trãi</div>
                </div>
            </div>

            <div class="panel panel-default col-panel box">
                <div class="panel-heading box-title">
                    Lịch chiếu
                </div>
                <div class="panel-body box-content">
                    <table></table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>
