@{
    ViewBag.Title = "Index";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/scheduler.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <!-- BEGIN TEMPLATE -->
        <div class="col-sm-5">
            <div class="cn4u-box">
                <div class="cn4u-title">
                    <div>Chọn phim</div>
                </div>
                <div id="divMovie" class="cn4u-content">
                    <div class="item" value="4247053">NGỦ VỚI HỒN MA 16+</div>
                    <div class="item" value="4253279">SKIN TRADE / MẠNG ĐỔI MẠNG 16+</div>
                    <div class="item" value="4129841">AVENGERS: ĐẾ CHẾ ULTRON</div>
                    <div class="item" value="4221137">MA DAI</div>
                    <div class="item" value="4246344">OAN HỒN 16+</div>
                    <div class="item" value="4250176">IT FOLLOWS / CUỘC ĐI SĂN CỦA QUỶ 16+</div>
                    <div class="item" value="4128484">FAST & FURIOUS 7 16+</div>
                    <div class="item" value="4234805">ASTERIX: VÙNG ĐẤT THẦN THÁNH (2D LỒNG TIẾNG)</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cn4u-box">
                <div class="cn4u-title">
                    <div>Chọn rạp</div>
                </div>
                <div id="divMovie" class="cn4u-content">
                    <div class="item" value="4247053">CN4U Nguyễn Trãi</div>
                    <div class="item" value="4129841">CN4U Nguyễn Du</div>
                    <div class="item" value="4246344">CN4U Tân bình</div>
                    <div class="item" value="4128484">CN4U Kinh Dương Vương</div>
                    <div class="item" value="4234805">Cn4U Quang Trung</div>
                </div>
            </div>
            <div class="cn4u-box-scheduler">
                <div class="cn4u-title">
                    <div>Lịch chiếu</div>
                </div>
                <div id="divMovie" class="cn4u-content">
                    CN, 10-05-2015
                    13:45c15:20|17:00|18:40|20:20|22:00 <br/>
                    Thứ 2, 11-05-2015
                    09:00|10:35|12:10|13:45|15:20
                    <br />
                    Thứ 3, 11-05-2015
                    09:00|10:35|12:10|13:45|15:20
                    <br />
                    Thứ 4, 11-05-2015
                    09:00|10:35|12:10|13:45|15:20
                    <br />
                    Thứ 5, 11-05-2015
                    09:00|10:35|12:10|13:45|15:20
                    <br />
                    Thứ 6, 11-05-2015
                    09:00|10:35|12:10|13:45|15:20
                    <br />
                    Thứ 7, 11-05-2015
                    09:00|10:35|12:10|13:45|15:20

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            Phim nổi bật
        </div>
           
        </div>
    
    <!-- END TEMPLATE -->
</div>

