@using MovieTicketReservation.Models
@{
    ViewBag.Title = "Lịch chiếu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/scheduler.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default col-panel box">
                <div class="panel-heading box-title">
                    Chọn phim
                </div>
                <div id="movieList" class="panel-body box-content">
                    @foreach (var item in ViewBag.Movies) {
                        <div class="item" data-id="@item.MovieID">@item.Title</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default col-panel box">
                <div class="panel-heading box-title">
                    Chọn rạp
                </div>
                <div id="cinemaList" class="panel-body box-content">

                </div>
            </div>

            <div class="panel panel-default col-panel box">
                <div class="panel-heading box-title">
                    Lịch chiếu
                </div>
                <div id="result" class="panel-body box-content">
                   
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>

<script>
    $("#movieList div.item").click(function () {
        $("#movieList div.item").removeClass("checked");
        $(this).addClass("checked");
        var id = $(this).attr("data-id");
        $("#result").empty();
        $.get("/Schedule/AjaxGetCinemaByMovieID", { movieId: id }, function (data) {
            $("#cinemaList").empty();
            $.each(data, function (index, value) {
                var htmlString = "<div class='item' data-cid='" + value.CinemaID + "' data-mid='" + id + "'>" + value.Name + "</div>";
                $("#cinemaList").append(htmlString).fadeIn('slow');
            });
        });
    });

    $("#cinemaList").on("click", "div.item", function () {
        $("#cinemaList div.item").removeClass("checked");
        $(this).addClass("checked");
        var cid = $(this).attr("data-cid");
        var mid = $(this).attr("data-mid");
        $("#result").empty();
        $.get("/Schedule/AjaxGetScheduleByCinemaIDAndModieID", { cinemaId: cid, movieId: mid }, function (data) {
            $.each(data, function (index, value) {
                var htmlDateString = "<div class='schedule'><span class='schedule-time'>" + value.ShowingDate + ": </span>";
                $.each(value.Times, function (id, time) {
                    var htmlTimeString = "<span class='schedule-time'><a href='/Ticket/Reserve?scheduleId=" + time.ScheduleID + "'>" + time.ShowTime + "</a></span>";
                    htmlDateString += htmlTimeString;
                });
                $("#result").append(htmlDateString).fadeIn('slow');
            });
        });
    });
</script>
