@using MovieTicketReservation.ViewModels
@model List<CinemaScheduleModel>
<div class="modal fade" id="modalSchedule">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Lịch chiếu</h4>
            </div>
            <div class="modal-body">
                @foreach (var item in Model) {
                    <p class="schedule-cine">@item.CinemaName</p>
                    foreach (var date in item.Dates) {
                        <p class="schedule-date">
                            @date.ShowingDate.ToShortDateString():
                            @foreach (Showtime showtime in date.Showtimes) {
                                <span>
                                    @Html.ActionLink(showtime.Time.Hours + "h" + showtime.Time.Minutes,
                                                 "Reserve", "Ticket", new { ScheduleID = showtime.ScheduleId }, new { @class = "schedule-showtime" })
                                </span>
                            }
                        </p>
                    }
                }
            </div>
        </div>
    </div>
</div>